<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tincan.telepathiccaller" android:versionName="1.5" android:versionCode="6">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="CallerApp" android:debuggable="false">
        <activity android:label="@string/app_name" android:name=".ContactsList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<receiver android:name="CallerWidget" android:label="@string/widget_small" android:icon="@drawable/icon">
		    <intent-filter android:icon="@drawable/icon">
		    	<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x1"></meta-data>
		</receiver>
		<receiver android:name="CallerWidgetLarge" android:label="@string/widget_large" android:icon="@drawable/icon">
		    <intent-filter android:icon="@drawable/icon">
		    	<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1"></meta-data>
		</receiver>
		<service android:name="TelepathicCallerService"></service>
		<activity android:name="EditPreferences" android:label="@string/app_name"></activity>
		<activity android:name="AboutScreenOne" android:label="@string/app_name"></activity>
		<activity android:name="AboutScreenTwo" android:label="@string/app_name"></activity>
	<receiver android:name="CallReceiver" android:label="@string/app_name"></receiver>
</application>
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
</manifest> 